@CHARSET "ISO-8859-1";
body{
	background: url(./img/aa.jpg) repeat;
}

.but{
	padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 16px;
  outline: 0;
  box-sizing: content-box;
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}